.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  box-shadow: var(--shadow-btn);
  border-radius: 4px;
  border-color: transparent;
}

.hero-section__btn:hover,
.hero-section__btn:focus {
  background-color: var(--accent-btn-bg);
}

.footer__form-btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 10px 29px;
  border: none;
}
